<form [formGroup]="form" class="login-form">
  <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
  <mat-icon matSuffix (click)="toggleHide()">{{
      hide ? 'visibility' : 'visibility_off'
    }}</mat-icon>
  <div *ngIf="attempts" class="warning">
    <p *ngIf="attempts === 1">
      Внимание! У вас осталось {{ 3 - attempts }} попытки, вводите правильный
      логин/пароль!
    </p>
    <p *ngIf="attempts === 2">
      Последняя попытка!
    </p>
    <p *ngIf="attempts === 3">
      Количество попыток исчерпано!
    </p>
  </div>
  <button type="submit" (click)="login()" [disabled]="form.invalid">
    Войти
  </button>
</form>
