section {
  max-width: 95%;
  margin: auto;
  margin-top: 80px;
}

header {
  padding: 10px;
  & > button {
    margin-right: 5px;
  }
  background-color: rgb(138, 156, 255);
  box-shadow: 0 0 10px 0 black;
  position: fixed;
  top: 0;
  min-width: 100%;
}

.active {
  filter: hue-rotate(-295deg);
}
