<header>
  <button
    routerLink="/register"
    routerLinkActive="active"
    *ngIf="!authStatus"
    mat-raised-button
    color="primary"
  >
    Регистрация
  </button>
  <button
    routerLink="/login"
    routerLinkActive="active"
    *ngIf="!authStatus"
    mat-raised-button
    color="primary"
  >
    Вход
  </button>
  <button
    routerLink="/users"
    *ngIf="authStatus"
    mat-raised-button
    color="warn"
    (click)="logout()"
  >
    Выход
  </button>
  <button
    routerLink="/users"
    routerLinkActive="active"
    mat-raised-button
    color="primary"
  >
    Список пользователей
  </button>
</header>
<section
>
  <router-outlet></router-outlet>
</section>
